.bg-light{
  color: #ddf1dd !important;
}


.d-block{
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#logo{
  height: 50px;
}

#nav{
  
  background-color: #ddf1dd;
  
}

#navbarNav{
  
 
  line-height: inherit;
  justify-content: center;
}

.nav-link{
  color: black !important;
  
  text-transform: uppercase;
}

.nav-link:hover{
  background-color: teal;
}
.imageCroqui{
  display: flex;
  
}

.imageCroqui>img{
  align-items: center;
}

#vias{
  background-color: #ddf1dd;
  
}

#sobre{
  
  background-color: #ddf1dd;
}

#lista-prest>div{
  margin-left: 20px;
}

#comochegar{
  background-color: #ddf1dd;
}

.dadosVias{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #96e096;
  
}
.dadosVias>div{
  display: flex;
 justify-content: center;
}

.dadosVias>div>p{
  font-size: 20px;
  font-weight: bolder;
}

footer{
  background-color: #96e096;
}

.texto{
  padding-left: 20px;
  padding-right: 20px;
}
.livro{
  padding-left: 20px;
  padding-right: 20px;
}


@media (min-width: 700px){
  
.navbar-nav li{
  padding-left: 30px;
  font-size: 25px;
  /* background-attachment: fixed; */
}

#lista-prest{
  display: flex;
  flex-direction: row;
  
}


#sobre{
  padding-top: 75px;
  
  
}

.historiaLivro{
  
  
}


#duas-colunas>div>h2{
  padding-top: 20px;
}

#comochegar{
  padding-top: 30px;
  
}



}

@media(max-width: 800px){
  .duas-colunas>div{
    width: 100%;
  }
  


#lista-prest{
  display: flex;
  flex-direction: column;
 

}
}
